//META{"name":"SamuraiGirl5CSL","description":"Samurai Girl Anime theme made by LordofShadowsHoppou#2151 Core Lines & Import Core by puckzxz#2080 and Quake#1470","author":"LordofShadowsHoppou#2151","version":"7.7"}*//{}
@import url(https://8xs4qxklp8.execute-api.us-east-2.amazonaws.com/release/gorawgit?giturl=/puckzxz/NotAnotherAnimeTheme/master/css/qcsl.css);


/* To make editing this theme easier I recommend using Notepad++ , you can download it for free here - https://notepad-plus-plus.org/download/ */


/* Any images you use MUST end with .jpg or .png or any other image extension */
/* This is NOT a valid link, https://imgur.com/a/ycjL2 */
/* THIS IS A VALID LINK https://i.imgur.com/rCqnrQ7.jpg */

/* If you find an image I would STRONGLY recommend rehosting the image on imgur https://imgur.com/upload */

/*Core*/
:root {
    /* Edit this to change your background */
    --background-image: url("https://i.imgur.com/H4T8RkD.png"); /* format is url(IMAGE URL HERE) */
    /* Edit this to change your friends icon picture, picture  */
    --friends-icon: url(https://i.imgur.com/cabJGmi.png); /* format is url(IMAGE URL HERE) */
    /* Edit this to change your friends icon picture, position  */
    --friends-icon-position: center center; /* default: center center */
    /* Edit this to change your friends icon picture, zoom  */
    --friends-icon-zoom: 100%; /* default: 100% */
    /* Change the main color */
    --main-color: rgb(67, 181, 129); /* default: rgb(67, 181, 129); */
    /* Change global transparency */
    --main-transparency: rgba(0, 0, 0, 0.65); /* default: rgba(0, 0, 0, 0.8); */ 

    /* Change the unread server animation. Replace it with "none" in order to remove any animations */
    --unread-server-animation: rainbow;
    /* Change background color when you hover members or friends(only applies to friendslist */
    --hover-list-bg-color: rgba(33, 6, 255, .95); /* default: rgba(255,255,255, .15) */
    /* Change the tiny border lines color */
    --border-lines-color: rgba(33,6,255, .95); /* default: hsla(0,0%,100%,.1);*/
    /* Change the scroll bar color appearance */
    --scroll-bar-color: rgba(33,6,255, .95); /* default: rgba(255,255,255, .15);*/

    /* Change chat messages font size, you can use any unit: px, em, rem, %, etc. */
    --font-size: 16px; /* default: 16px */
    /* Edit this to change the color of a selected text or voice join */
    --selected-text-voice-color: rgba(102, 255, 255, .6); /* default: #f6f6f7 */
    /* Edit this to change the color when you hover over a text channel */
    --text-hover-color: rgba(0, 0, 204, .65); /* default: #b9bbbe */
    /* Edit this to change the color when you hover over a voice channel */
    --voice-hover-color: #f6f6f7; /* default: #f6f6f7 */
    /* Edit this to change the color of an unread text channel color */
    --unread-text-color: #dcddde; /* default: #dcddde */
    
    /* Write "transparent" in order to make the options sections with the same look as the theme  */
    --options-transparency: transparent; /* default: #2f3136 */
}
-------------------------------------------------------------
/* ADD CODE BELOW TO CUSTOMIZE THE THEME */
/*My Customizations*/
/*WORKING AS OF 11/8/2018*/

/*THIS CHANGES THE COLOR OF FRIENDS ALL/ONLINE/PENDING/BLOCKED TABS SCROLLBARS*/
.scrollerThemed-2oenus.themeGhost-28MSn0.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 1); /* background rail color */
	width: 128px;
}

.scrollerThemed-2oenus.themeGhost-28MSn0 .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(5, 75, 235, 1.15); /* piece color */
    border-color: rgba(255, 255, 255, .15);
	width: 128px;
}

.scroller-2FKFPG::-webkit-scrollbar-thumb, .scroller-2FKFPG::-webkit-scrollbar-track {
    background-clip: padding-box;
    border-radius: 7.5px;
    border-style: solid;
    border-width: 3px;
	width: 128px;
}

/*THIS CHANGES THE FRIENDS LIST SCROLLBAR WIDTH*/
.scroller-2FKFPG::-webkit-scrollbar {
    width: 18px;
}

-------------------------------------------------------------
/*WORKING AS OF 11/8/2018*/
/*CHANGES THE FRIENDS ONLINE TEXT COLOR*/
.guildsWrapper-5TJh6A .guilds-1q_RqH .friendsOnline-_wi_fM {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}
.theme-dark .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM {
    color: #00b0f4;
}
.friendsOnline-_wi_fM {
    font-size: 10px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 50px;
    word-wrap: normal;
}
 
-------------------------------------------------------------
/*WORKING AS OF 11/8/2018*/


/*FOR SOME REASON 4 COLUMN BECOMES 3 COLUMN IF YOU DELETE THIS LINE*/
{}


/*THIS MAKES THE SERVER LISTINGS SCROLLER VISIBLE(DONT CHANGE THIS IF USING 4 COLUMN THEME)*/
.guildsWrapper-5TJh6A {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    contain: layout;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    width: 262px; /*this changes the  server list column width combine with scrollwrap to increase server columns*/
    left: 0px;
}

/*THIS CHANGES THE COLOR OF THE SERVER LISTINGS SCROLLBAR*/
.guilds-wrapper .scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: rgba(5, 55, 88, .2); /*THIS CHANGES THE TRACKBAR COLOR*/
    border-color: rgba(255, 255, 255, .15); /*THIS CHANGES THE TRACKBAR BORDER COLOR*/
}


/*this changes the scrollbar & trackbar location*/
.guildsWrapper-5TJh6A .scroller-wrap{
    width: 272px;
}

.scrollerWrap-1IAIlv {
    width: 270px;
}

.wrapper-1Rf91z {
    width: 270px;
}

.listItem-2P_4kh {
    width: auto;
    margin-left: 2px; /*1px=5 Column server list addon(put back to 9px=4 column server list)*/
}


/*guild server list background color & transparency*/
.theme-dark .wrapper-1Rf91z {
    background-color: var(--main-transparency);
}

/*this changes server scrollbar dimensions*/
.scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar, .scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar {
    height: 8px;
    width: 15px;
}

/*this changes server channel listing scrollbar dimensions*/
.scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar, .scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar {
    height: 8px;
    width: 15px;
}

/*this changes server channel listing scrollbar colors*/
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(33, 6, 255, 0.95);
    border-color: #33b5a9;
}

/*this changes server message box listing scrollbar colors*/
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(33, 6, 255, 0.95);
    border-color: #33b5a9;
}

/*Server list line separator(between the friend icon and servers)*/
.guildSeparator-3s64Iy {
    background: #1748c3;
    height: 5.9px;
    width: ?px;
}






























-------------------------------------------------------------
/*THIS ADDS A GUILD COUNTER TO BOTTOM OF SERVER LIST*/
/*THIS MIGHT NEED REWORKING AS IT AFTER AWHILE DOESNT PROPERLY KEEP TRACK 
OF THE AMOUNT OF SERVERS YOU ARE IN*/
.guildsWrapper-5TJh6A {
  counter-reset: guilds-count;
}
.guildsWrapper-5TJh6A .guildSeparator-1X4GQ1 ~ div.guild-1EfMGQ {
  counter-increment: guilds-count;
}
.guildsAddInner-1KMFy- {
    font-size: 0;
    position: static;
}
.guildsAddInner-1KMFy-::after {
    content: counter(guilds-count);
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.theme-dark .guildsAdd-21_IdK {
    background: #000000;
    border-color: #f04747;
    color: #3a71c1;
}

/*THIS CHANGES THE MEMBERS COUNT PLUGIN DIMENSIONS*/

					#MemberCount {
						position: absolute;
						font-size: 15.5px;
						letter-spacing: 0.08em;
						font-weight: 500;
						text-transform: uppercase;
						display: block;
						width: 93%;
						height: 2.3%;
						text-align: center;
						padding: 0.25vh 0;
						z-index: 3;
						top: 0;
					}
		
					.theme-dark #MemberCount {
						color: rgba(60, 199, 10, 1.35);
						background: rgba(1, 1, 1, 1.00);
					} 
					
					.theme-light #MemberCount {
						color: #99aab5;
						background: #f3f3f3;
					}
						
			
/*THIS HIDES PESKY UPDATE NOTIFICATION POPUPS*/
.noticeInfo-3_iTE1 {
    display: none;
}
